[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
User=obsagent
Group=obsagent
Type=simple
ExecStart=/usr/local/bin/node_exporter \
  --collector.systemd \
  --collector.processes \
  --web.listen-address=:9100

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
